html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: Helvetica;
}

.flex {
  display: flex;
  justify-content: center;
}


/* header with logo, nav bar and banner*/

#banner {
  height: 30rem;
  display: flex;
  justify-content: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-size: cover;
  background-position: center;
}

.container {
    width: 960px;
}

header {
  background-color: cadetblue;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logoimg {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

h2 {
  font-size: 1rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

nav h2 {
  display: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding-right: 2rem;
}

.tagline {
  width: 35rem;
  margin: 10rem 0 0 20.3rem;
}

h1 {
  background-color: white;
  font-weight: bold;
  color: black;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
}

/*Services section*/

#services {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 5rem;
}

img {
  max-width: 5rem;
}

.paper {
  width: 3.5rem;
}

 .title {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .title h3 {
   padding: .20rem;
 }

 /*More info section*/

 #info {
   display: flex;
   justify-content: flex-start;
   margin: 3rem 0 0 4rem;
 }

 .moreinfo {
   width: 35%;
   margin-right: 5%;
 }

 .moreinfo h2 {
   width: 10rem;
   background-color: cadetblue;
   padding: .5rem 1.25rem;
   color: white;
   font-weight: bold;
 }

 p {
   margin-top: 1rem;
   line-height: 1.25rem;
 }

 /*Footer*/

 footer {
   display:flex;
   align-items: center;
   background-color: azure;
   margin-top: 5rem;
 }

 footer img {
   height: 1.5rem;
   padding: 4rem 1rem 4rem 4rem;
 }

 footer p {
   margin: 0;
 }

 /*Media queries for screen sizes smaller than 1000px*/

 @media only screen and (max-width: 1000px) {

   .container {
     width: 100%;
   }

   #banner {
     height: 22rem;
   }

   header {
     margin: 0;
   }

   h1 {
     font-size: 1.33rem;
     padding: 1rem 4rem;
   }

   .tagline {
     margin: 5rem 2rem 0 42%;
     width: 55%;
     text-align: center;
   }

   #info {
     margin: 3rem 0 0 4rem;
   }

 }

 @media only screen and (max-width: 600px) {

   nav h2 {
     display: block;
     margin-right: 2rem;
   }

   nav a {
     display: none;
   }

   .logo h2 {
     display: none;
   }

   #banner {
     height: 17rem;
     background-position: 20%;
   }

   .tagline {
     width: 100%;
     text-align: center;
     margin: 9rem 0 0 0;
   }

   h1 {
     font-size: 1rem;
     padding: 1rem;
   }

   #services {
     flex-direction: column;
     align-items: center;
     margin: 3.77rem 0 3.77rem 0;
   }

   .service {
     margin-left: 1.54rem;
   }

   .title h3 {
     font-size: 0.77rem;
   }

   #info {
     flex-wrap: wrap;
     margin: 0;
   }

   .moreinfo {
     width: 100%;
     padding: 0 0 4rem 0;
     text-align: center;
   }

   .moreinfo h2 {
     width: 100%;
   }

   p {
     font-size: 0.77rem;
     padding-left: .25rem;
   }

   footer p {
     display: none;
   }

   footer {
     justify-content: center;
   }

   footer img {
     padding: 4rem 0 4rem 0;
   }

 }
